@media screen and (width <= 667px) {
    :root{
        --cell-size : calc(var(--size) * .20);
    }

    .board{
        padding-top: initial;
    }
    .heading{
        font-size: 1.9rem;
    }

    .winning-msg-text{
        font-size: 3rem;
    }

    .restartButton{
        font-size: 1.5rem;
    }
}

@media screen and (width <= 480px) {
    .winning-msg-text{
        font-size: 2rem;
    }

    .restartButton{
        font-size: 1rem;
    }

    .heading{
        font-size: 1.2rem;
        inset: 10%;
    }
}